
.header{
    
}

.header-top{
    padding: 1rem;
    display: flex;
    align-items: center;
    
}
.header-bottom {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}
.collaps-icon{
    margin-right: 1rem;
}